{{define "content"}}

{{range .errs}}
	<div>{{.}}</div>
{{end}}

<div class="editor">
	<form action="{{.path}}" method="post">
		<div class="inputs">タイトル：<br /><input type="text" name="title" value="{{.entity.Title}}" /></div>
		<div class="inputs">
			本文：<br />
			<textarea name="content">{{.entity.Content}}</textarea></div>
		<div class="inputs">
			<select name="status">
				{{range $key, $val := .statuses}}
					<option value="{{$key}}">{{$val}}</option>
				{{end}}
			</select>
		</div>
		<div class="inputs"><input type="submit" value="送信" /></div>
	</form>
</div>

{{end}}